<!DOCTYPE>
<html>
<head>
<meta charset="utf-8"/>
<title>相册</title>
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="jquery.masonry.js"></script>
<script type="text/javascript" src="jquery.infinitescroll.js"></script>
<script type="text/javascript" src="hashchange.js"></script>
<link rel="stylesheet" type="text/css" href="start.css">
<script type="text/javascript">

    $(document).ready(function() {
      $(window).resize(function() {
        $(".file_form").css("padding-top", "50px");
      });
      $(".file").change(function() {
        
        var data = new FormData($('#uploadform')[0]);
        $.ajax({
        url: "upload",
        type: "POST",
        data: data,
        catch: false,
        processData: false,  // 告诉jQuery不要去处理发送的数据
        contentType: false   // 告诉jQuery不要去设置Content-Type请求头
        });
      });
    });
  
    $(document).ready(function() {
      if ('onhashchange' in window)
        var url = window.location.href;
      window.onhashchange = nfj_hashchange();
    });
  
    $(function() {
      var $container = $('#masonry');
      $container.imagesLoaded(function() {
        $container.masonry({
          itemSelector: '.box',
          gutterWidth: 20,
          isAnimated: true,
        });
      });
    });
</script>
</head>
<body>

  <div class="header">
  <div class="logo"><img src="res/logo.png" width="74" height="23"></div>
  <div class="right_btn"><img class="rf_btn" src="res/refresh.png" width="30" height="30"></div>
  <div class="upload">
    <form id="uploadform" action="/#upload" method="post" enctype="multipart/form-data">
    <input id="uploadfile" class="file" type="file" name="upload" multiple/>
    <span class="fakefile">上传</span>
    </form>
  </div>
  </div>
  <div class="page">
    <ul>
      <li class="current">
          <a href="show">我的相册</a>
      </li>
    </ul>
  </div>

  <div id="masonry" class="content container-fluid">
    <% if (names.length) {%>
    <% names.forEach(function(name){%>
    <div class="box"><img src="<%="pic/"+name%>"></div>
    <%})}%>
  </div>
</body>
</html>