<!DOCTYPE>
<html>
<head>
<meta charset="utf-8"/>
<title>相册</title>
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="get_pic.js"></script>
<script type="text/javascript" src="jquery.masonry.js"></script>
<script type="text/javascript" src="jquery.infinitescroll.js"></script>
<link rel="stylesheet" type="text/css" href="start.css">
<script type="text/javascript">

    $(document).ready(function() {

      nfj_get_pic();

      $(".file").change(function() {
        if($(".file").val() == ""){
          alert("请选择文件");
        }
        else
        {
          var data = new FormData($('#uploadform')[0]);
          $.ajax({
          url: "upload",
          type: "POST",
          data: data,
          catch: false,
          processData: false,  // 告诉jQuery不要去处理发送的数据
          contentType: false,  // 告诉jQuery不要去设置Content-Type请求头
          success:function(){
            nfj_get_pic();
            }
          });
        }
        
      });

      $("#show").click(function() {
        nfj_show_pic();
        $("#masonry").trigger('resize');
      });
      $("#hide").click(function() {
        nfj_hide_pic();
        $("#masonry").trigger('resize');
      });
      $(window).bind("scroll",function() {  
        // 然后判断窗口的滚动条是否接近页面底部，这里的20可以自定义  
          if ($(document).scrollTop() + $(window).height() > $(document).height() - 20) {    
                nfj_load_pic();  
          }  
      });

    });
  


</script>
</head>
<body>

  <div class="header">
  <div class="logo"><img src="res/logo.png" width="74" height="23"></div>
  <div class="right_btn"><img class="rf_btn" src="res/refresh.png" width="30" height="30"></div>
  <div class="upload">
    <form id="uploadform" action="/#upload" method="post" enctype="multipart/form-data">
    <input id="uploadfile" class="file" type="file" name="upload" multiple/>
    <span class="fakefile">上传</span>
    </form>
  </div>
  </div>
  <div class="page">
    <ul>
      <li class="current">
          <a href="show">我的相册</a>
      </li>
    </ul>
  </div>
  <button id="show" type="button">show</button>
  <button id="hide" type="button">hide</button>
  <div id="masonry" class="content container-fluid">
    
  </div>

</body>
</html>